/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    justify-content: space-between;
    align-items: center;
}



/* header */

.logo-header{
    display: block;
    max-width: 100%;
}

.nav-bar-left-element{
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav a {
    text-decoration: none;
}














/* utility */

.d-flex{
    display: flex;
}