/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    box-shadow: 0 1px 3px #666;
    background-color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}

section{
    margin: 100px 0;
}

footer{
    color: white;
    background-color: black;
}

h1{
    font-size: 80px;
    font-weight: 800;
    padding: 50px 0;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/* header */

.nav-header{
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav-bar-left-element{
    align-items: center;
}

.nav-header li {
    padding: 40px 10px;
    border-bottom: 3px solid transparent;
}

.nav-header li:hover{
    border-bottom: 3px solid black;
}

/* main */

/* jumbotron */

.jumbotron{
    background-color: #B4D0E7;
}

.jumbo-container{
    position: relative;
    top: 65px;
}

.jumbo-right > *{
    font-size: 17px;
    margin-bottom: 50px;
}

.jumbo-right p {
    line-height: 25px;
}

/*your plane */

.chose-container{
    margin: 50px 0;
}

.chose-element{
    margin-right: 40px;
    align-items: flex-end;
}

.chose{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.check{
    border: 5px solid blue;
}

.not-check{
    border: 2px solid lightgrey;
}

.row{
    margin: 0 -10px;
}
    
.column{
    border: 1px solid lightgrey;
    flex-basis: calc(100% / 3);
    margin: 10px;
}

.top-col{
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    text-align: center;
}

.col-info{
    margin: 40px 27px;
}

.price{
    font-weight: bold;
}

.line{
    width: 40px;
    border: 1px solid lightgray;
}

.hot-point{
    padding: 0 18px;
}

.col-info > *{
    margin: 40px 0;
}

.info{
    line-height: 50px;
}

.column .blu-button{
    display: block;
    text-align: center;
    padding: 0;
}

.column li {
    margin-top: 20px;
}

.hot-point li::before{
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0px 6px 0px -20px;
    color: blue;
}

.skill-content li{
    text-indent: -10px;
}

.skill{
    padding: 20px;
}

.buy-now a {
    color: #4230F1;
    text-decoration: underline;
}

.bottom-col{
    margin: 30px 20px;
    align-items: baseline;
    justify-content: space-between;
}

.bottom-element p{
    margin-top: 40px;
}

.bottom-element .price{
    margin-top: 20px;
}

.Db-partner{
    margin-top: 150px;
}

.Db-partner-right > *{
    margin: 50px 40px;
}

.Db-partner-right p{
    font-size: 20px;
}

.Db-partner-right a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.bottom-col .blu-button{
    padding: 10px 0;
}

/* multi-operation */

.row-card{
    margin:50px -20px;
}

.card{
    flex-basis: calc(100% / 3 - 40px);
    margin: 20px;
}

.card-text{
    margin-top: 30px;
}

.card-text p {
    margin-top: 30px;
    line-height: 20px;
}

/* our-client */

.Top-our-client h2{
    padding-right:  300px;
}

.our-client a {
    font-size: 18px;
    margin-top: 70px;
    display: block;
    color: blue;
}

.our-client{
    margin: 150px 0;
}

.client-container{
    margin-top: 150px;
}

.client-column{
    flex-basis:calc(100% / 3);
    align-content: flex-start;
}

.client-content {  
    flex-basis: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.client-content .image{
    filter: invert(1);
}

.center{
   background-color: #F5F5F5;
}

.design{
    background-color: #A2D39B;
}

.arizona{
    background-color: #61082B;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.bicycle{
    background-color: #D5001F;
}

.hearst{
    background-color: #B4D0E7;
}

.planet{
    background-color: #0D2481;
}

.channel{
    background-color: #FFD830;
}

.client-content-center{
    padding: 50px;
}

.client-content-center .image{
    width: 270px;
}

.client-content-center > *{
    padding-bottom: 40px;
}

.client-content-center .line{
    padding: 0;
    width: 120px;
}

.client-content-center p {
    margin-top: 30px;
    line-height: 22px;
}

.bg-take-dropbox{
    background-color: #B4D0E7;
}

.take-Dropbox{
    justify-content: space-between;
    padding: 100px 20px;
}

.take-Dropbox a{
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
}

.take-Dropbox h2{
    color: #61082B;
    font-size: 43px;
}



/* faq-question */

.Faq-element{
   justify-content: space-between; 
}

.buttom-line{
    border-bottom: 1px solid black;
}

.Faq-title{
    padding-bottom: 40px;
}

.Faq-element{
    padding: 40px 0;
    font-weight: bold;
}

/* footer */

.footer-nav{
    padding: 100px 0;
}

.footer-nav-element{
    flex-basis: calc(100% / 5 );
}

.footer-nav a {
    color: white;
    line-height: 40px;
}

.footer-nav h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-icon > *{
    display: inline-block;
    margin: 60px 0;
    color: #999999;
}

footer .line {
    width: 100px;
    color:  #999999 ;
}

/* utility */

.wrap{
    flex-wrap: wrap;
}

.f-basis-xs{
    flex-basis: 30%;
}

.f-basis-s{
    flex-basis: 40%;
}

.f-basis-m{
    flex-basis: 60%;
}

.f-basis-l{
    flex-basis: 70%;
}

.image{
    display: block;
    max-width: 100%;
}

.container-big{
    width: 1200px;
    margin: 0 auto;
}

.container-small{
    width: 1000px;
    margin: 0 auto;
}

.blu-button{
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}

.d-flex{
    display: flex;
}