/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

nav{
    justify-content: space-between;
    align-items: center;
}



/* header */

.logo-header{
    display: block;
    max-width: 100%;
}

.nav-bar-left-element{
    align-items: center;
}














/* utility */

.d-flex{
    display: flex;
}