/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

main{
    background-color: #F7F5F2;
}


/* main */

#package{
    margin-top: 100px;
    margin-bottom: 0;
}

.best-price{
    justify-content: center;
    padding: 7px 0;
    background-color: black;
    color: white;
}

.internal-space{
    padding: 30px 20px;
}

.pack{
    flex-basis: calc(100% / 3 - 20px);
    background-color: white;
    margin: 10px;   
}

.info-pack > *{
    margin-bottom: 20px;
}

.info .blu-button{
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin: 30px 0;
}





/* utility */

.wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.container-small{
    width: 1400px;
    margin: 0 auto;
}