/* reset */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

main{
    background-color: #F7F5F2;
}

h1{
    font-size: 42px;
    padding-bottom: 20px;
    font-weight: lighter;
}

h3{
    font-weight: lighter;
}

h5{
    font-size: 16px;
    font-weight: 100;
}
/* main */

/* package */

#package{
    margin-top: 100px;
    margin-bottom: 0;
}

.container-xsmall{
    text-align: center;
}

.icon-section{
    margin: 30px 0;
    justify-content: center;
}

.icon-box{
    position: relative;
}

.icon-info{
    background-color: black;
    color: white;
    display: inline-block;
    line-height: 17px;
    font-size: 12px;
    width: 200px;
    padding: 8px;
    text-align: left;
    position: absolute;
    bottom: 70px;
    left: -62px;
    display: none;
}

.bottom-info{
    position: absolute;
    bottom: -10px;
    left: 90px;
    color: black;
}
 
.icon-box:hover .icon-info,.bottom-info{
    display: inline-block;
}

.button-section{
    margin-bottom: 10px;
}

.discount{
    background-color: #2D7A02;
    color: white;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 3px;
    margin: 4px;
}

.subscription{
    justify-content: center;
}

.button-package{
    justify-content: space-between;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    padding: 9px 3px;
    border-radius: 30px;
}

.button-set{
    background-color: #0061FF;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 10px;
    color: white;
}

.out{
    font-size: 18px;
    font-weight: 600;
    padding: 7px 10px;
}

.best-price{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 7px 0;
    background-color: black;
    color: white;
}

.internal-space{
    margin:50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 480px;
}

.pack{
    position: relative;
    flex-basis: calc(100% / 3 - 20px);
    background-color: white;
    margin: 10px;   
}

.info-pack > *{
    margin-bottom: 20px;
}

.price {
    font-size: 22px;
}

.info .blu-button{
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin-top: 30px;
}

.hot-point li {
    margin-top: 20px;
}

.buy-now > *{
    color: #0061FF;
    margin-right: 5px;
    font-weight: 600;
}

.blu-button span{
    margin-right: 10px;
}

.blu-button:hover{
    background-color:#024abd; 
}

.blu-button:hover span{
    margin-right: 0;
}

.buy-now a:hover{
    text-decoration-color: #5e99f8;
}

.buy-now a:hover span{
    margin-left: 10px;
}

/* utility */

.wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.container-small{
    width: 1350px;
    margin: 0 auto;
}

.container-xsmall{
    width: 800px;
    margin: 0 auto;
}